<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>Terminal</title>

        <link rel="stylesheet" href="modules/xterm/css/xterm.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
        <script src="/modules/xterm/lib/xterm.js"></script>
    </head>
    <body>
        <p>Output:</p>
        
        <div id="terminal"></div>
        
        <script>
            let socket = io(location.hostname + ':42550', {
                cors: {
                    origin: true,
                    methods: ['GET', 'POST', 'PUT', 'DELETE']
                }
            }).connect()
            let vTerm = new Terminal({
                disableStdin: false
            })
            let interface = document.getElementById('terminal')

            socket.emit('init', {
                user: {
                    uid: 'abc123'
                },
                path: location.pathname
            })
            socket.emit('ready', true)

            vTerm.open(interface)

            socket.on('stdout', (data) => {
                vTerm.write(data)
            })

            socket.on('stdinfo', (info) => {
                vTerm.write(info)
            })

            vTerm.onData((data) => {
                socket.emit('stdin', data)
            })

            socket.on('new-session', (data) => {
                socket.disconnect()
                vTerm.write('\r\r' + data + '\r')
            })
        </script>
    </body>
</html>